<form [formGroup]="form" (ngSubmit)="submit()" class="form">
  <h3>{{ form.value.id ? 'Edit' : 'Create' }} income</h3>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name"/>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Amount</mat-label>
    <input matInput type="number" formControlName="amount"/>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="endDate" required/>
    <mat-datepicker-toggle matSuffix [for]="picker"/>
    <mat-datepicker #picker/>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Recurrence</mat-label>
    <mat-select formControlName="recurrence">
      @for (option of recurrenceOptions; track option) {
        <mat-option [value]="option">
          {{ option }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Interval</mat-label>
    <input matInput type="number" formControlName="interval"/>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>End date</mat-label>
    <input matInput [matDatepicker]="endPicker" formControlName="endDate"/>
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>

  <div class="actions">
    <button matButton="filled" type="submit" [disabled]="form.invalid">
      {{ form.value.id ? 'Save' : 'Create' }}
    </button>
    <button matButton="outlined" (click)="cancel()">Cancel</button>
  </div>
</form>
