<div class="header">
  <h3>Incomes</h3>
  <button matButton="outlined" (click)="add.emit()">
    <mat-icon>add</mat-icon>
    <span>Add</span>
  </button>
</div>

<div class="content">
  <mat-list>
    @if (column) {
      @for (income of column.incomes; track income.id) {
        <mat-list-item
          [matMenuTriggerFor]="contextMenu"
          #menuTrigger
          (mousedown)="onPressStart($event, income)"
          (mouseup)="onPressEnd()"
          (mouseleave)="onPressEnd()"
          (touchstart)="onPressStart($event, income)"
          (touchend)="onPressEnd()">
          <span matListItemTitle>{{ income.amount }}</span>
          <span matListItemLine>{{ income.name }}</span>
        </mat-list-item>
      }

      <mat-list-item>
        <span matListItemTitle class="total-title">Total income: {{ column.totalIncome }}</span>
      </mat-list-item>

      <mat-menu #contextMenu="matMenu">
        <button mat-menu-item (click)="update.emit(selectedIncome)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="delete.emit(selectedIncome)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    }
  </mat-list>
</div>
