:host {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 0 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.header h3{
  margin: 0;
  font-size: 36px;
  align-self: center;
  font-weight: 450;
}

.total-title {
}
